<table class="ui green unstackable sortable striped celled table">
  <thead>
    <tr>
      <th class="two wide right aligned">
        <%= sortable_column(t('.http_verb'), :request_method) %>
      </th>
      <th class="center aligned">
        <%= sortable_column(t('.endpoint'), :path) %>
      </th>
      <th class="two wide">
        <%= sortable_column(t('.samples_count'), :samples_count) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @endpoints %>
  </tbody>
  <tfoot>
    <th colspan="3">
      <%= paginate @endpoints, views_prefix: 'api_sampler' %>
    </th>
  </tfoot>
</table>
