<div class="ui segments">
  <div class="ui secondary segment">
    <%= @endpoint.request_method %> <%= @endpoint.path %>
  </div>

  <%= form_for @samples_filter, url: api_sampler.endpoint_samples_path(@endpoint),
                                method: 'GET', html: { class: 'ui form segment' } do |f| %>

    <div class="two fields">
      <div class="field">
        <%= f.label :tags, t('.tags') %>
        <%= f.select 'tags', tags(@samples_filter), { include_blank: t('.select_tags') },
            class: 'ui fluid search dropdown', multiple: true %>
      </div>

      <div class="field">
        <%= f.label :path_params, t('.path_params') %>
        <%= render partial: 'path_param', collection: @samples_filter.path_params, as: :path_param %>
        <%= render 'path_param', path_param: {} %>

        <button class="ui right labeled icon button add-path-param" type="button"
                data-param-i18n="<%= t('api_sampler.samples.path_param').to_json %>">
          <i class="ui add icon"></i>
          <%= t('.path_params_add') %>
        </button>
      </div>
    </div>

    <%= f.submit t('.filter'), class: 'ui primary button' %>
  <% end %>

</div>

<%= form_tag api_sampler.delete_endpoint_samples_path(@endpoint), method: :delete do %>
<table class="ui blue unstackable sortable striped celled definition table">
  <thead>
    <tr>
      <th></th>
      <th><%= t('.path_params') %></th>
      <th><%= t('.query_params') %></th>
      <th><%= t('.tags') %></th>
      <th><%= sortable_column(t('.collected_at'), :created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td class="collapsing">
          <div class="ui fitted slider delete checkbox">
            <%= check_box_tag "ids[]", sample.id, false, id: "sample-#{sample.id}" %>
          </div>
        </td>
        <td><%= sample.path_params %></td>
        <td><%= sample.query %></td>
        <td><%= render sample.tags %></td>
        <td><%= sample.created_at %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th></th>
    <th colspan="4">
      <%= submit_tag t('.delete'), class: 'ui negative disabled button', id: 'delete-samples' %>
      <%= paginate @samples, views_prefix: 'api_sampler' %>
    </th>
  </tfoot>
</table>
<% end %>
