<!DOCTYPE html>
<html>
<head>
  <title>Api Sampler</title>
  <%= stylesheet_link_tag    "api_sampler/application", media: "all" %>
  <%= javascript_include_tag "api_sampler/application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="ui container">
    <%= yield %>
  </main>
</body>
</html>
